<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>cron-autostart</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/user/IdeaProjects/home-pets/job/mover.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/user/IdeaProjects/home-pets/job/logfile.log</string>
    <key>StandardOutPath</key>
    <string>/Users/user/IdeaProjects/home-pets/job/logfile.log</string>
</dict>
</plist>