<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.checkandrun.plist</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/python3</string>
        <string>/Users/maximburdygin/IdeaProjects/home-scripts/job/check-and-run.py</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/maximburdygin/IdeaProjects/home-scripts/job/logs/logfile.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/maximburdygin/IdeaProjects/home-scripts/job/logs/logfile.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>